<table>
	<tr>
		<th>Schedule</th>
		<th>Action</th>
	</tr>
<% @schedules.each do |s| %>
	<tr>
		<td><%= s.name %></td>
		<td><%= link_to "Edit", "#", id: "open_edit_modal" %></td>
	</tr>
<% end %>
</table>

<div id="modal_dialog"></div>